<header>
    <img src="Logo.png" alt="Logo" class="logo" routerLink="">
    <p class="namePag" routerLink="" >¡Give Me Your Opinion!</p>
    <input type="text" placeholder="Buscar" class="search">
    <div class="link" routerLink="products" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">Productos</div>
    <div class="link" routerLink="stores" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">Marcas</div>
    <div class="link" routerLink="login" routerLinkActive="active">
        <tui-icon icon="@tui.user" [style.color]="'var(--primaryColor)'" />
    </div>
</header>